<header id="header" class="{{layout.header_class}}">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="{{ site.baseurl }}/" class="scrollto">CATLID</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a> -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        {% if page.layout == "default_main" %}
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About the project</a></li>
          <li><a href="#services">Training Framework</a></li>
          <li><a href="#portfolio">Project results</a></li>
        {% endif %}

      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
